// ***************************************************************************
// RESPONSIVE DESIGN BREAKPOINTS
// Separate with commas
// to be used in conjunction with '@mixin for-bp(n)' found in mixins/_rwd.scss
// ***************************************************************************

$media-query-breakpoints: (
  mobile-sm: 320px,
  mobile-md: 380px,
  mobile-lg: 480px,
  tablet-sm: 600px,
  tablet-md: 800px,
  tablet-lg: 900px,
  desktop-sm: 1024px,
  desktop-md: 1200px,
  desktop-lg: 1400px
) !default;

// ***************************************************************************
// Z-indexes
// ***************************************************************************

$z-index: (
  tooltip: 6000,
  modal: 5000,
  nav: 2000,
  stickyheader: 1000,
  content: 500
) !default;

// ***************************************************************************
// Folders
// ***************************************************************************
$assetsFolder: '/assets' !default;
$imgsFolder: '#{$assetsFolder}' !default;
$svgMap: '#{$assetsFolder}/stack/svg/sprite.stack.svg' !default;

// ***************************************************************************
// Colors
// ***************************************************************************

$color01: #000 !default; // black
$color02: #fff !default; // white

// ***************************************************************************
// Measures
// ***************************************************************************

$mobile-bleed: 20px !default;
$tablet-bleed: 30px !default;
$desktop-bleed: 30px !default;
$desktop-max-width: 1400px !default;

// ***************************************************************************
// Fonts
// ***************************************************************************

// ***************************************************************************
// Time
// ***************************************************************************

$transTime: 300ms !default;
